*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  // overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  color: #222;
  font-family: Barlow, Helvetica, sans-serif;
  overflow-x: hidden;
}

@media (max-width: 414.9px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 600px) {
  .about {
    display: none;
  }
  .header {
    display: none;
  }
  .presentation {
    display: none;
  }
  .contact {
    display: none;
  }
}
