*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
html {
  font-family: Barlow, sans-serif;
}
body {
  position: relative;
  margin: 0;
  color: #222;
  font-family: Barlow, sans-serif;
  overflow-x: hidden;
  user-select: none;
}

@media (min-width: 480.1px) {
  .about {
    display: none;
  }
  .header {
    display: none;
  }
  .presentation {
    display: none;
  }
  .contact {
    display: none;
  }
}
