$container-xs: auto;
$container-s: 540px;
$container-m: 720px;
$container-l: 960px;
$container-xl: 1140px;

$gutter: 15;

$viewport-xs: 480px;
$viewport-s: 768px;
$viewport-m: 992px;
$viewport-l: 1200px;

$colors: (
  clr-green: #2afd2e,
  clr-yellow: #fcfd5b,
  clr-red: #fe0065,
  clr-purple: #7304ff,
);

:root {
  // each item in color map
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }
}
